In [1]:
import data_read
from Bio import SeqIO
import time

In [2]:
db1 = '../test_data/benchmark_DB1.fasta'
record_dict = SeqIO.to_dict(SeqIO.parse(db1, "fasta"))

In [3]:
fp_test_briquettes = data_read.FragPipeRun(
    path='../test_data/benchmarking_data_st_db1',
    db=record_dict,
    run_id='milk_st_db1',
    format='pepXML',
    decoy_tag='rev'
)

In [5]:
start_time = time.time()
data = fp_test_briquettes.read(n_procs=1)
print("--- %s seconds ---" % (time.time() - start_time))

start_time = time.time()
data = fp_test_briquettes.read(n_procs=10)
print("--- %s seconds ---" % (time.time() - start_time))

	Reading sample N0040 ... Done
	Reading sample N0000 ... Done
	Reading sample N1280 ... Done
--- 16.713169813156128 seconds ---
	Reading sample N0040 ... Done
	Reading sample N0000 ... Done
	Reading sample N1280 ... Done
--- 13.449565887451172 seconds ---

In [6]:
data

,Scan_No,RTsec,Seq,calc_mass,delta_mass,score,probability,prot_id,start,other_prot_ids,var_mods_pos,delta_mass_mods_pos,is_decoy,Run_id,Sample,q
10,3619,871.177940,VLGQLHGGPSSCSATGADR,1868.8799,185.12710,23.264,1.0000,sp|Q7M135|LYSC_LYSEN,204,[],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 57.021, 0, 0...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",False,milk_st_db1,N0040,0.000000
11,3736,888.529358,RVLGQLHGGPSSCSATGADR,2024.9810,11.01520,34.643,1.0000,sp|Q7M135|LYSC_LYSEN,203,[],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 57.021, 0...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",False,milk_st_db1,N0040,0.000000
13,3762,892.522888,RVLGQLHGGPSSCSATGADR,2024.9810,29.02600,47.410,1.0000,sp|Q7M135|LYSC_LYSEN,203,[],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 57.021, 0...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",False,milk_st_db1,N0040,0.000000
18,3905,913.870182,RVLGQLHGGPSSCSATGADR,2024.9810,29.02600,30.204,1.0000,sp|Q7M135|LYSC_LYSEN,203,[],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 57.021, 0...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",False,milk_st_db1,N0040,0.000000
20,4050,935.464153,RVLGQLHGGPSSCSATGADR,2024.9810,29.02600,45.644,1.0000,sp|Q7M135|LYSC_LYSEN,203,[],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 57.021, 0...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",False,milk_st_db1,N0040,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2624,6513,1209.499450,VKQIDLGK,899.5440,-115.15220,15.331,0.0504,rev_sp|P02754A|LACB_BOVIN,-1,"[rev_sp|P02754B|LACB_BOVIN, rev_sp|P02754C|LAC...","[0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0]",True,milk_st_db1,N1280,0.410365
1557,4323,883.408636,LIVTQTMK,948.5314,2.02585,16.022,0.0503,sp|P02754A|LACB_BOVIN,16,"[sp|P02754B|LACB_BOVIN, sp|P02754C|LACB_BOVIN,...","[0, 0, 0, 0, 0, 0, 15.995, 0]",[],False,milk_st_db1,N1280,0.410365
5423,10572,1813.518406,KDPEGLFL,917.4858,-6.96720,18.085,0.0503,sp|P02753|RET4_HUMAN,47,[],"[0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, -6.967163, 0, 0, 0]",False,milk_st_db1,N1280,0.410365
3887,9697,1683.209824,LLLGNEIR,927.5389,-114.06170,15.323,0.0501,rev_sp|P00722|BGAL_ECOLI,-1,[],"[0, 0, 0, 0, 0.984, 0, 0, 0]","[0, 0, 0, 0, 0, -114.06177, 0, 0]",True,milk_st_db1,N1280,0.410925
4317,9395,1638.335030,KFVAPIDTKK,1145.6808,95.07630,18.937,0.0501,rev_sp|P04119|LACB_PIG,-1,[],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 95.07617, 95.07617, 0]",True,milk_st_db1,N1280,0.410925